
/**Tipo de Letra que se esta usando en la app**/
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #E6E6FA;
}
/**Cabecera**/
.content {
    background: #4682B4;
    width: 100%;
    height: 86px;
}
.title {
    float: left;
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    text-align: left;
    font-size: 30px;
    line-height: 0.75;
    letter-spacing: 0.02em;
    color:#E6E6FA;
    padding-top: 30px;
    padding-left: 8%;
    font-weight: bold;
}
.title span {
    color:	#FFC0CB;
    font-weight: bold;  
}

/**Contenedor de info-img**/

.title-caesar{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-right: 8%;
    padding-left: 15%;
    font-weight: bold;
 }
 .title-caesar span{
    font-size: 35px;
    font-weight: bold;
    color: #4682B4;
 }
.info-img{
    text-align: center;
    background:#E6E6FA;
    color: #666666;
    float: left;
    width: 50%;
    height: 500px;
    padding-top: 5%;
}
.info-img img{
    width: 300px;
    padding-top: 40px;
    padding-left: 10%;
    
}
 .info-p p{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 10%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #808080;
}


/*Contenedor de Instrucciones*/

.intrucciones{ 
    padding-top: 5%;
    height: 500px;
    text-align: center;
    width: 50%;
    float: left; 
    background: #E6E6FA;  
}
.subtitle-info{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-right: 8%;
    font-weight: bold;
    color: #666666;
    
}
.subtitle-info span{
    font-size: 35px;
    font-weight: bold;
    color: #4682B4;
}

.info-left{
    text-align: left;
    padding-left: 5%;
    color: #666666;

    
}
.info-left img{
    width: 30px;
    float: left;
}
.info-left label{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bold;
    
    
}
.info-left p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #808080;
    padding-right: 15%;
    padding-left: 10%;
}

/*Contenedor de area de Cifrado y Descifrado*/

.titlecipher{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    margin: 0;
    color:  #4682B4;
    text-align: center;
    font-weight: bold;
}
.titlecipher span{
    text-align: justify;
    color: #666666;
}

.open-Cipher{
    text-align: center;
    background: #E6E6FA;
    padding-top: 700px;
}
.contenido{ 
    
    font-family: 'Dosis', sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
    background: #E6E6FA;
    padding: 0%;
    padding-bottom:  50px;  
}
.stylecontent{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: 		#666666;    
}
#text{
    font-size: 14px;
    background:#FFE4E1;
    width: 40%;
    height: 80px;

}
#valor{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#4682B4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4682B4;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:'Dosis', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-align: center;
}
#result{
    font-size: 14px;
    background:#FFE4E1;
    width: 40%;
    height: 80px;
}

#buttonOpen{
padding: 10px;
font-weight: 600;
font-size: 20px;
color: #FFC0CB;
background-color: #4682B4;
border-radius: 6px;
border: 2px solid #4682B4;
font-family: 'Poiret One', cursive;
font-weight: bold;
}
#buttonOpen:hover{
color: #4682B4;
background-color: #E6E6FA;

}

Button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#4682B4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4682B4;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:'Dosis', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#4682B4;
}
Button:active {
	position:relative;
	top:1px;
}

